body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #03bfff;
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 120%;
}

.card {
    background: #ff7f50;
    color: whitesmoke;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 520px;
    margin: 2em;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after{
    visibility: visible;
    content: "Loading....";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}

.card:hover {
    box-shadow: 5px 5px 5px #00000056;
}
